@import '~bootstrap/scss/bootstrap.scss';

@import "style-react-select-search";

$base-color-green : rgba(70, 205, 207, 1);
$base-color-green-font-dark : rgba(72, 70, 109, 1);
$font-size-card-price-list : var(--bs-body-font-size);

$base-color-table-price : rgba(143, 227, 229,1);

$custom-background-color-danger : rgba(239, 83, 80,1);
$custom-border-green-form : rgba(47, 204, 139, 1);

.row--mr-0{
    --bs-gutter-x: 0 !important;
}

.table > thead > tr > th {
    text-align: center;
    vertical-align: middle;
}

.table > tbody > * {
    vertical-align: middle;
}

.btn-sm, .btn-group-sm > .btn {
    font-size: 0.75rem !important;
}

.td-price-list--action{
    text-align: center;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $base-color-green !important;
    border-color: $base-color-green !important;
}

.card {
    margin: 20px;
    border-color: $base-color-green;

    &-header{
        font-size: 20px;
        font-weight: 700;
        color: $base-color-green-font-dark;
        background-color: $base-color-green;
    }

    &-body{
        padding : 30px 20px;
    }
}

.table-price-list{
    &--bg-green > thead{
        // background-color: rgba(13, 115, 119, 0.5);
        // background-color: rgba(122, 211, 214, 1);
        background-color: $base-color-table-price;
    }
}

.table-price-list {
    &__note-date--center {
        text-align: center;
        justify-content: center;
    }
    &__pagination--center {
        justify-content: center;
        display: inherit;
    }
}

@media only screen and (min-width: 768px) {
    /* For mobile: */
    .mobile-card-price-list{
        display: none;
    }
    .mobile-card-price-list-pagination{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile: */
    .table-price-list{
        display: none;

        &-pagination {
            display: none;
        }
    }

    .form-create-price{
        &__submit--center {
            text-align: center;
        }
    }

    .card {
        &-body{
            padding : 20px 5px;
        }
    }
}

.mobile-card-price-list-pagination{
    font-size: 0.8em;
}

.mobile-card-price-list {
    max-height: 90vh;
    overflow-y: scroll;
    margin-bottom: 10px;

    &__note-date--center {
        text-align: center;
        justify-content: center;
    }
    &__pagination--center {
        justify-content: center;
        display: inherit;
    }
}

@media only screen and (max-width: 550px) {
    $font-size-card-price-list-right : 0.8em;
    $font-size-card-price-list-left : 0.9em;
    .card-price-list{
        &__provinsi {
            font-size: $font-size-card-price-list-right;
        }
        &__kota {
            font-size: $font-size-card-price-list-right;
        }
        &__komoditas {
            font-size: $font-size-card-price-list-left;
        }
        &__size {
            font-size: 0.7em;
        }
        &__price {
            font-size: $font-size-card-price-list-left;
        }
    }
}

.card-price-list{
    box-shadow: rgba(70, 205, 207, 0.35) 0px 25px 20px -20px;
    border-color: $base-color-table-price !important;
    border-radius: 0px;
    & > .card-body{
        padding: 10px 15px;
        // background-color: rgba(0, 0, 0, 0.03);
        background-color: rgba(143, 227, 229, 0.3);
    }
    &-col-info--right > .row {
        margin-bottom: 5px;
        & > .col > * {
            float: right;
            text-align: right;
        }
    }
    &-col-info--left > .row {
        margin-bottom: 2px;
        & > .col > * {
            float: left;
            text-align: left;
        }
    }
    &__komoditas {
        font-weight: 600;
    }
    &__size {
        font-size: 0.8em;
    }
    &__price {
        font-weight: 600;
        font-size: 1.1em;
    }
    &__provinsi {
        font-weight: 600;
    }
    &__kota {
        font-weight: 400;
    }
}

.card-price-list-footer{
    background: none;
    &--flex-between{
        display: flex;
        justify-content: space-between;

        & button{
            border-radius: 0px !important;
        }
    }
}

thead .search-col{
    padding-bottom: 0px;
}

.form-create-price{
    & input:hover {
        border-color: $custom-border-green-form;
    }
    & input:focus {
        border-color: $custom-border-green-form !important;
    }
    &--row-mb-20 > .row{
        margin-bottom: 20px;
    }
    &__err-not-fill{
        font-size: 0.8em;
        font-weight: 700;
        color: $custom-background-color-danger ;
    }
}

.form-create-price--row-mb-20 > .row{
    margin-bottom: 20px;
}

.row{
    &--mb-0{
        margin-bottom: 0px !important;
    }
    &--mb-5{
        margin-bottom: 5px !important;
    }
    &--mb-10{
        margin-bottom: 10px !important;
    }
}

.modal-header{
    &--bg-danger{
        background-color: $custom-background-color-danger;
    }
    &--bg-success{
        background-color: $custom-background-color-danger;
    }
}

.modal-content{
    &--v-10p{
        margin-top: 10%;
    }
}